* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    45deg,
    #e91e63,
    #e91e63 50%,
    #ffc107 50%,
    #ffc107
  );
}

body::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    160deg,
    #03a9f4,
    #03a9f4 50%,
    transparent 50%,
    transparent
  );
  animation: animate 5s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.container {
  position: relative;
}

.container::before {
  content: " ";
  position: absolute;
  bottom: -100px;
  width: 100%;
  height: 60px;
  background: radial-gradient(rgba(0, 0, 0, 0.2), transparent, transparent);
  border-radius: 50%;
}

.box {
  position: relative;
  z-index: 1;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  animation: animate 5s ease-in-out infinite;
  animation-delay: -2.5s;
}

.clock {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(transparent, rgba(255, 255, 255, 0.2)),
    url(clock.png);
  border-radius: 50%;
  background-size: cover;
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: none;
  border-right: none;
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.1),
    10px 10px 20px rgba(0, 0, 0, 0.1), 0 40px 50px rgba(0, 0, 0, 0.2);
}
.clock::before {
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  z-index: 10000;
}

.hour,
.min,
.sec {
  position: absolute;
}

.hour .hr {
  width: 160px;
  height: 155px;
}

.min .mn {
  width: 190px;
  height: 175px;
}

.sec .sc {
  width: 230px;
  height: 220px;
}

.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.hr::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 80px;
  background: #ff105e;
  border-radius: 6px;
  z-index: 11;
}

.mn::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background: #fff;
  border-radius: 6px;
  z-index: 12;
}

.sc::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 110px;
  background: #fff;
  border-radius: 6px;
  z-index: 12;
}

@media (max-width: 700px) {
  .box {
    width: 300px;
    height: 300px;
  }

  .hr::before {
    height: 70px;
  }
  .hour .hr {
    height: 130px;
  }
  .mn::before {
    height: 70px;
  }

  .min .mn {
    height: 140px;
  }

  .sc::before {
    height: 75px;
  }

  .sec .sc {
    height: 160px;
  }
}

@media (max-width: 400px) {
  .box {
    width: 200px;
    height: 200px;
  }

  .hr::before {
    height: 35px;
  }
  .hour .hr {
    height: 80px;
  }
  .mn::before {
    height: 45px;
  }

  .min .mn {
    height: 85px;
  }

  .sc::before {
    height: 55px;
  }

  .sec .sc {
    height: 100px;
  }
}
