* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.8);
}

body::before,
.container::before {
  content: "";
  position: absolute;
  width: 15em;
  height: 15em;
  border-radius: 5px;
}

body::before {
  top: 10%;
  right: 20%;
  background-image: linear-gradient(yellow, orangered);
  animation: rotate2 5s infinite ease-in;
}
.container::before {
  bottom: 10%;
  left: 20%;
  background-image: linear-gradient(skyblue, blue);
  animation: rotate1 5s infinite ease-in;
}

.container {
  min-height: 100vh;
}
.container,
.clock,
.hour,
.min,
.sec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  background-color: rgba(102, 101, 101, 0.2);
  flex-direction: row;
  padding: 1em;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  color: #fff;
  font-size: 3em;
  font-family: system-ui;
  font-weight: bold;
}

.clock p {
  padding: 10px;
  margin: 0 5px;
  box-shadow: 2px 2px 12px dimgrey;
  border-radius: 5px;
}

@keyframes rotate1 {
  0% {
    bottom: 10%;
  }
  50% {
    bottom: 15%;
  }
  100% {
    bottom: 10%;
  }
}
@keyframes rotate2 {
  0% {
    top: 10%;
  }
  50% {
    top: 15%;
  }
  100% {
    top: 10%;
  }
}

@media (max-width: 900px) {
  .container::before,
  body::before {
    height: 10em;
    width: 10em;
  }
}

@media (max-width: 600px) {
  .clock {
    font-size: 2em;
  }
}

@media (max-width: 360px) {
  .container::before,
  body::before {
    height: 8em;
    width: 8em;
  }
  .clock {
    font-size: 1em;
  }
  .clock p {
    padding: 0 5px;
    margin: 0 3px;
  }
}
